.item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo{
  color: black;
  font-size: 9vw;
  font-family: "arial black";
  text-align: center;
  margin-top: 80px;
}

.iteminfo_btn{
  margin-top: 10px;
}

.page-item.active .page-link {
  color: white;
  background-color: grey;
}

.page-link {
  color: black;
}